
<div class="col-md-6" >

  <ul class="list-group" >
    <li class="list-group-item active">Les numéros d’urgence à connaître</li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Numéro vert « Allo Yakada » Covid-19
      <span class="badge badge-primary badge-pill">0801 00 47 47</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Allo Samu, assistance médicale d’urgence
      <span class="badge badge-primary badge-pill">141</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Ambulance / pompiers
      <span class="badge badge-primary badge-pill">150</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Police : 190
      <span class="badge badge-primary badge-pill">190</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Gendarmerie Royale
      <span class="badge badge-primary badge-pill">177</span>
    </li>
  </ul>

</div>

