<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">Covid-19</div>
    </div>
    <ul class="nav navbar-nav">
      <li [class.active]="router.isActive('/suivie',true)">
        <a [routerLink]="'suivie'">Suivie</a></li>
      <li [class.active]="router.isActive('/contact',true)">
        <a [routerLink]="'/contact'">N urgence</a>
      </li>
      <li [class.active]="router.isActive('/tracage',true)">
        <a [routerLink]="'/tracage'">tracage</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
<!--    <button *ngIf="show" [@keyframes]>test</button>-->
  </div>
  <div class="row">
  <router-outlet></router-outlet>
  </div>

</div>

