<div class="container ">
  <div class="row d-flex justify-content-center">
    <div id="myForm"  class="col-md-9">
      <app-form (onDataChange)="onDataChange()"></app-form>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div  class="col-md-9">
      <app-table-persons [personsInput]="persons"></app-table-persons>
    </div>
  </div>

</div>

