<div class="row" >
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="text-center" scope="col">FirstName</th>
      <th class="text-center" scope="col">LastName</th>
      <th class="text-center" scope="col">Meeting Place</th>
    </tr>
    </thead>
    <tbody id="body-table">
    <tr *ngFor="let p of personsInput">
      <td>{{p.firstName}}</td>
      <td>{{p.lastName}}</td>
      <td>{{p.meeting_place}}</td>
    </tr>
    </tbody>
  </table>
</div>
