<form [formGroup]="personFormGroup"  id="form">
  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">firstName<span class="text-danger">*</span></label>
    <div class="col-sm-10">
      <input type="text" id="firstName" name="firstName" formControlName="firstNameControl" class="form-control"  placeholder="first Name">
    </div>

  </div>
  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">LastName<span class="text-danger">*</span></label>
    <div class="col-sm-10">
      <input type="text" id="lastName" name="lastName" formControlName="lastNameControl"  class="form-control"  placeholder="LastName">
      <small id="lastNameHelp" class="form-text text-muted">
        minLength=3, maxLength=40
      </small>

    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">address</label>
    <div class="col-sm-10">
      <textarea type="text" id="address" name="address" formControlName="addressControl" class="form-control"  placeholder="address">

      </textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <button type="submit" (click)="addPerson()" [disabled]="personFormGroup.invalid" class="btn btn-primary">Add</button>

      </div>
      <div class="form-group mx-sm-3 mb-2">
        <button  class="btn btn-primary" type="reset">Cancel</button>

      </div>
    </div>


  </div>

<!--  <div-->
<!--    *ngIf="formAltaControls.firstNameControl.invalid && (formAltaControls.firstNameControl.dirty || formAltaControls.firstNameControl.touched)"-->
<!--       class="row alert alert-danger form-danger" role="alert">-->

<!--    <div *ngIf="formAltaControls.firstNameControl.errors.required">-->
<!--      El Nom del professional es obligatori-->
<!--    </div>-->
<!--  </div>-->
</form>
